.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maskred);
}

.category {
    margin: auto;
    padding: 20px;
}

.subcat {
    margin: 10px;
}